<div class="container">
    <div class="form-group">
      <label for="strDate">Start Date</label>
      <input type="date" class="form-control" id="strDate" (ngModelChange)="startDateIn = $event"
        [ngModel]="startDateIn | date:'yyyy-MM-dd'">
    </div>
    
    <div class="form-group">
      <label for="nroOfDays">Number of Days</label>
      <input type="number" id="nroOfDays" [(ngModel)]="nroDaysIn">
    </div>

    <div class="form-group">
      <label for="ctCode">Country Code</label>
      <select>
        <option value="ES">ES</option>
        <option value="US">US</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="generateCalendar8()">Generate</button>

    <div *ngFor="let monthInfo of months">
      <app-month8 [monthInfo]="monthInfo"></app-month8>
    </div>

</div>


